.root {
    -fx-background-repeat: no-repeat;
    -fx-background-size: cover;
}
.LoginButton{
    -fx-font-weight: bold;
    -fx-text-fill: black;
    -fx-border-radius: 20;
    -fx-background-radis: 20;
    -fx-font-family: "仓耳今楷02-6763 W04";
}


.LoginText {
	-fx-font-family: "仓耳今楷02-6763 W04";
    -fx-font-weight: bold;
    -fx-text-fill: black;
    -fx-border-radius: 20;
    -fx-background-radius: 20;
    -fx-background-color: white;
    -fx-border-color: black;
}

.label {
    -fx-font-size: 12px;
    -fx-font-weight: bold;
    -fx-text-fill: #333333;
    -fx-effect: dropshadow( gaussian , rgba(255,255,255,0.5) , 0,0,0,1 );
}